@font-face {
    font-family: 'Playfair Display';
    font-weight: 200;
    src: local('Playfair Display'), url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('woff');
}
body {
    margin: 0;
}
